<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeonShine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{220,245}</string>
                <key>spriteSourceSize</key>
                <string>{222,247}</string>
                <key>textureRect</key>
                <string>{{609,1},{220,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_gate_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,16}</string>
                <key>spriteSize</key>
                <string>{605,532}</string>
                <key>spriteSourceSize</key>
                <string>{637,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{605,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DungeonSheet-hd.png</string>
            <key>size</key>
            <string>{830,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8270366d52a083de5268ba800ebee4b6:63b4d4d9ef74b82d0352b7456c39cc52:6d4e4a00e843240c5782a23349fc641d$</string>
            <key>textureFileName</key>
            <string>DungeonSheet-hd.png</string>
        </dict>
    </dict>
</plist>
