<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{0,0},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{88,0},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{176,0},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{201,200}</string>
			<key>spriteSourceSize</key>
			<string>{209,208}</string>
			<key>textureRect</key>
			<string>{{264,0},{201,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{467,0},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{583,0},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{699,0},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{0,85},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{116,85},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{467,112},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{110,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{583,112},{110,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{699,112},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{0,197},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{113,197},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{226,202},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{339,202},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{699,222},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{108,111}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{452,224},{108,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{0,307},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{162,312},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{699,332},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{452,334},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{0,466},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{162,471},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{614,491},{157,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{324,312},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{324,416},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{776,491},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{432,493},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{324,520},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{776,595},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{432,597},{102,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{324,624},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{0,625},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{97,630},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{194,630},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{540,650},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{637,650},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{93,95}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{734,699},{93,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{421,701},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{291,719},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{0,720},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{88,725},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{176,725},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{509,745},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{83,86}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{597,745},{83,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{379,786},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{685,794},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{767,794},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{264,804},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{0,805},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{82,810},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,80}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{164,810},{77,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{461,830},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{519,830},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{577,830},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{346,865},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{404,865},{53,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{635,873},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,56}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{693,873},{53,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,-5}</string>
			<key>spriteSize</key>
			<string>{213,213}</string>
			<key>spriteSourceSize</key>
			<string>{229,229}</string>
			<key>textureRect</key>
			<string>{{0,889},{213,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{137,138}</string>
			<key>spriteSourceSize</key>
			<string>{147,147}</string>
			<key>textureRect</key>
			<string>{{751,873},{137,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{67,69}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{246,883},{67,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{459,885},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{529,885},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{317,920},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{387,923},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{599,928},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{669,928},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{215,952},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{457,953},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Magenta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{527,953},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{285,988},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{355,991},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Salmon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{597,996},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{667,996},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{737,1012},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{807,1012},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,68}</string>
			<key>spriteSourceSize</key>
			<string>{72,68}</string>
			<key>textureRect</key>
			<string>{{425,1021},{71,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,62}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{215,1059},{184,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,63}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{498,1064},{184,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,63}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{684,1080},{184,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
		<key>size</key>
		<string>{889,1143}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
	</dict>
</dict>
</plist>