<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{0,0},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{45,0},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{90,0},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{101,101}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{135,0},{101,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{238,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{298,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{358,0},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{0,43},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{60,43},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{238,58},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,58}</string>
			<key>spriteSourceSize</key>
			<string>{56,60}</string>
			<key>textureRect</key>
			<string>{{298,58},{56,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{358,58},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{0,101},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{58,101},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{116,103},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{174,103},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{358,114},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{232,116},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{0,157},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{84,159},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{358,170},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{232,172},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{0,239},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{84,241},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,83}</string>
			<key>textureRect</key>
			<string>{{316,252},{80,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{168,159},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{168,213},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{225,254},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{168,267},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{225,308},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{168,321},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,55}</string>
			<key>spriteSourceSize</key>
			<string>{52,57}</string>
			<key>textureRect</key>
			<string>{{0,321},{52,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{57,323},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{108,323},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{282,334},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{333,334},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{384,334},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{225,362},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{57,371},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{108,371},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{154,375},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{0,375},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{276,382},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{322,382},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{368,382},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{41,44}</string>
			<key>textureRect</key>
			<string>{{200,410},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{108,414},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{151,418},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{0,418},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{43,419},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{246,425},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{289,425},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{38,41}</string>
			<key>textureRect</key>
			<string>{{332,425},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{414,382},{26,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{414,413},{26,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{375,425},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{406,444},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{194,453},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{375,453},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{86,454},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{109,109}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{225,465},{109,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{73,73}</string>
			<key>textureRect</key>
			<string>{{117,458},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{0,458},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{38,459},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{336,465},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{406,472},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{189,481},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{74,482},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{0,493},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{36,494},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{336,500},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Magenta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{372,507},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{408,507},{33,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{189,516},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Salmon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{72,517},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{0,528},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{33,35}</string>
			<key>textureRect</key>
			<string>{{108,530},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,35}</string>
			<key>spriteSourceSize</key>
			<string>{33,35}</string>
			<key>textureRect</key>
			<string>{{145,530},{33,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,34}</string>
			<key>spriteSourceSize</key>
			<string>{36,34}</string>
			<key>textureRect</key>
			<string>{{36,529},{36,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{336,543},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{72,565},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,32}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{182,576},{92,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet.png</string>
		<key>size</key>
		<string>{441,608}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet.png</string>
	</dict>
</dict>
</plist>