<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{0,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{168,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{336,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{10,-10}</string>
			<key>spriteSize</key>
			<string>{395,395}</string>
			<key>spriteSourceSize</key>
			<string>{418,416}</string>
			<key>textureRect</key>
			<string>{{504,0},{395,395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{901,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1121,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1341,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1561,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{0,165},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{220,165},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{901,213},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1121,213},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1336,213},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1551,213},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{0,378},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{215,378},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{430,397},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{645,397},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{860,426},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{1173,426},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{0,591},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{313,610},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{626,733},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{939,733},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{1252,733},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,426},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,623},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,820},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{0,898},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{204,917},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{408,917},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1565,1017},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{612,1040},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{796,1040},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{980,1040},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{1164,1040},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{1348,1040},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{0,1095},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{184,1114},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{368,1114},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1532,1214},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{535,1221},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{702,1221},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{869,1221},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1036,1221},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1203,1221},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{1370,1221},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{0,1276},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{368,1278},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{153,1295},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{1370,1371},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{1523,1378},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{521,1385},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1676,1378},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{674,1385},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{780,1385},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{886,1385},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{992,1385},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1098,1385},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1204,1385},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{10,-11}</string>
			<key>spriteSize</key>
			<string>{417,416}</string>
			<key>spriteSourceSize</key>
			<string>{458,458}</string>
			<key>textureRect</key>
			<string>{{0,1445},{417,416}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{265,265}</string>
			<key>spriteSourceSize</key>
			<string>{294,294}</string>
			<key>textureRect</key>
			<string>{{674,1489},{265,265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{941,1489},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1074,1489},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1207,1489},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1340,1521},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1473,1528},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1606,1528},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{419,1535},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{941,1619},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1074,1619},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Magenta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1207,1619},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1340,1651},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1473,1658},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Salmon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1606,1658},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{419,1665},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{941,1749},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{1070,1749},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{134,131}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{1199,1749},{134,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{369,114}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{552,1756},{369,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{369,121}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{1335,1788},{369,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{369,121}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{0,1863},{369,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
		<key>size</key>
		<string>{1780,1984}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
	</dict>
</dict>
</plist>