<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/modtober24-banner-2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{795,74}</string>
			<key>spriteSourceSize</key>
			<string>{795,74}</string>
			<key>textureRect</key>
			<string>{{0,0},{795,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/modtober24-banner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{788,67}</string>
			<key>spriteSourceSize</key>
			<string>{788,67}</string>
			<key>textureRect</key>
			<string>{{0,76},{788,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/modtober24-popup.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{863,570}</string>
			<key>spriteSourceSize</key>
			<string>{863,570}</string>
			<key>textureRect</key>
			<string>{{0,145},{863,570}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/modtober25-banner-2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{795,74}</string>
			<key>spriteSourceSize</key>
			<string>{795,74}</string>
			<key>textureRect</key>
			<string>{{0,717},{795,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/modtober25-banner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{795,74}</string>
			<key>spriteSourceSize</key>
			<string>{795,74}</string>
			<key>textureRect</key>
			<string>{{865,0},{795,74}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/modtober25-popup.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{863,570}</string>
			<key>spriteSourceSize</key>
			<string>{863,570}</string>
			<key>textureRect</key>
			<string>{{0,793},{863,570}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/EventSheet-hd.png</string>
		<key>size</key>
		<string>{939,1363}</string>
		<key>textureFileName</key>
		<string>geode.loader/EventSheet-hd.png</string>
	</dict>
</dict>
</plist>