<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/geode-circle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-alternate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{34,0},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-color.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,59}</string>
			<key>spriteSourceSize</key>
			<string>{59,59}</string>
			<key>textureRect</key>
			<string>{{0,86},{59,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-outline-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{120,0},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-logo-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{120,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{61,86},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-base.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{0,172},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,95}</string>
			<key>spriteSourceSize</key>
			<string>{95,95}</string>
			<key>textureRect</key>
			<string>{{0,258},{94,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/LogoSheet.png</string>
		<key>size</key>
		<string>{153,352}</string>
		<key>textureFileName</key>
		<string>geode.loader/LogoSheet.png</string>
	</dict>
</dict>
</plist>