<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/geode-circle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-alternate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{168,168}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{66,0},{168,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-color.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{118,118}</string>
			<key>spriteSourceSize</key>
			<string>{118,118}</string>
			<key>textureRect</key>
			<string>{{0,170},{118,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-outline-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,66}</string>
			<key>spriteSourceSize</key>
			<string>{64,66}</string>
			<key>textureRect</key>
			<string>{{236,0},{64,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-logo-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{236,66},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,166}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{120,170},{166,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-base.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,166}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{0,338},{166,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{187,189}</string>
			<key>spriteSourceSize</key>
			<string>{190,190}</string>
			<key>textureRect</key>
			<string>{{0,506},{187,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/LogoSheet-hd.png</string>
		<key>size</key>
		<string>{302,693}</string>
		<key>textureFileName</key>
		<string>geode.loader/LogoSheet-hd.png</string>
	</dict>
</dict>
</plist>