<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/geode-circle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-alternate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{324,324}</string>
			<key>spriteSourceSize</key>
			<string>{336,336}</string>
			<key>textureRect</key>
			<string>{{130,0},{324,324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-color.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{228,229}</string>
			<key>spriteSourceSize</key>
			<string>{236,237}</string>
			<key>textureRect</key>
			<string>{{456,0},{228,229}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-logo-outline-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{129,131}</string>
			<key>spriteSourceSize</key>
			<string>{129,133}</string>
			<key>textureRect</key>
			<string>{{456,230},{129,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-logo-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{129,131}</string>
			<key>spriteSourceSize</key>
			<string>{129,131}</string>
			<key>textureRect</key>
			<string>{{0,326},{129,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{324,324}</string>
			<key>spriteSourceSize</key>
			<string>{336,336}</string>
			<key>textureRect</key>
			<string>{{133,361},{324,324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-base.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{324,324}</string>
			<key>spriteSourceSize</key>
			<string>{336,336}</string>
			<key>textureRect</key>
			<string>{{0,687},{324,324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{371,375}</string>
			<key>spriteSourceSize</key>
			<string>{380,380}</string>
			<key>textureRect</key>
			<string>{{326,687},{371,375}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/LogoSheet-uhd.png</string>
		<key>size</key>
		<string>{701,1058}</string>
		<key>textureFileName</key>
		<string>geode.loader/LogoSheet-uhd.png</string>
	</dict>
</dict>
</plist>