<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,38}</string>
			<key>spriteSourceSize</key>
			<string>{63,38}</string>
			<key>textureRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{38,38}</string>
			<key>textureRect</key>
			<string>{{65,0},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{20,25}</string>
			<key>spriteSourceSize</key>
			<string>{20,25}</string>
			<key>textureRect</key>
			<string>{{105,0},{20,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/close.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{25,25}</string>
			<key>spriteSourceSize</key>
			<string>{25,25}</string>
			<key>textureRect</key>
			<string>{{132,0},{25,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,21}</string>
			<key>spriteSourceSize</key>
			<string>{29,21}</string>
			<key>textureRect</key>
			<string>{{159,0},{29,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,21}</string>
			<key>spriteSourceSize</key>
			<string>{29,21}</string>
			<key>textureRect</key>
			<string>{{190,0},{29,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,21}</string>
			<key>spriteSourceSize</key>
			<string>{29,21}</string>
			<key>textureRect</key>
			<string>{{221,0},{29,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,21}</string>
			<key>spriteSourceSize</key>
			<string>{29,21}</string>
			<key>textureRect</key>
			<string>{{252,0},{29,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/delete-white.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{18,25}</string>
			<key>spriteSourceSize</key>
			<string>{18,25}</string>
			<key>textureRect</key>
			<string>{{283,0},{18,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1.5}</string>
			<key>spriteSize</key>
			<string>{44,62}</string>
			<key>spriteSourceSize</key>
			<string>{44,65}</string>
			<key>textureRect</key>
			<string>{{310,0},{44,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/download-mods-here.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{125,36}</string>
			<key>spriteSourceSize</key>
			<string>{125,36}</string>
			<key>textureRect</key>
			<string>{{159,23},{125,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{42,48}</string>
			<key>spriteSourceSize</key>
			<string>{42,48}</string>
			<key>textureRect</key>
			<string>{{374,0},{42,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{14,28}</string>
			<key>spriteSourceSize</key>
			<string>{14,28}</string>
			<key>textureRect</key>
			<string>{{105,27},{14,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{9,30}</string>
			<key>spriteSourceSize</key>
			<string>{9,30}</string>
			<key>textureRect</key>
			<string>{{424,0},{9,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/external-link.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,40},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file-add.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,29}</string>
			<key>spriteSourceSize</key>
			<string>{23,29}</string>
			<key>textureRect</key>
			<string>{{34,40},{23,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/file.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,29}</string>
			<key>spriteSourceSize</key>
			<string>{23,29}</string>
			<key>textureRect</key>
			<string>{{65,40},{23,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{2,30}</string>
			<key>spriteSourceSize</key>
			<string>{2,30}</string>
			<key>textureRect</key>
			<string>{{96,43},{2,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{343,16}</string>
			<key>spriteSourceSize</key>
			<string>{343,16}</string>
			<key>textureRect</key>
			<string>{{34,65},{343,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{31,30}</string>
			<key>spriteSourceSize</key>
			<string>{31,30}</string>
			<key>textureRect</key>
			<string>{{379,44},{31,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{31,30}</string>
			<key>spriteSourceSize</key>
			<string>{31,30}</string>
			<key>textureRect</key>
			<string>{{0,74},{31,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/globe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{45,45}</string>
			<key>spriteSourceSize</key>
			<string>{45,45}</string>
			<key>textureRect</key>
			<string>{{379,76},{45,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/grid-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,23}</string>
			<key>textureRect</key>
			<string>{{33,83},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/homepage.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{31,30}</string>
			<key>spriteSourceSize</key>
			<string>{31,30}</string>
			<key>textureRect</key>
			<string>{{58,83},{31,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{91,83},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,23}</string>
			<key>textureRect</key>
			<string>{{137,83},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{28,27}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{162,83},{28,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,23}</string>
			<key>textureRect</key>
			<string>{{192,83},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{217,83},{32,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/message.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{30,28}</string>
			<key>spriteSourceSize</key>
			<string>{30,28}</string>
			<key>textureRect</key>
			<string>{{251,83},{30,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{389,35}</string>
			<key>spriteSourceSize</key>
			<string>{389,35}</string>
			<key>textureRect</key>
			<string>{{33,129},{389,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-sapphire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{389,35}</string>
			<key>spriteSourceSize</key>
			<string>{389,35}</string>
			<key>textureRect</key>
			<string>{{0,166},{389,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{389,35}</string>
			<key>spriteSourceSize</key>
			<string>{389,35}</string>
			<key>textureRect</key>
			<string>{{0,203},{389,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{16,64}</string>
			<key>spriteSourceSize</key>
			<string>{16,64}</string>
			<key>textureRect</key>
			<string>{{391,166},{16,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-sapphire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{16,64}</string>
			<key>spriteSourceSize</key>
			<string>{16,64}</string>
			<key>textureRect</key>
			<string>{{409,166},{16,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{16,64}</string>
			<key>spriteSourceSize</key>
			<string>{16,64}</string>
			<key>textureRect</key>
			<string>{{0,240},{16,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/mods-list-top-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{412,60}</string>
			<key>spriteSourceSize</key>
			<string>{412,60}</string>
			<key>textureRect</key>
			<string>{{0,258},{412,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top-sapphire.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{412,60}</string>
			<key>spriteSourceSize</key>
			<string>{412,60}</string>
			<key>textureRect</key>
			<string>{{0,320},{412,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{412,60}</string>
			<key>spriteSourceSize</key>
			<string>{412,60}</string>
			<key>textureRect</key>
			<string>{{0,382},{412,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/news.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{20,23}</string>
			<key>spriteSourceSize</key>
			<string>{20,23}</string>
			<key>textureRect</key>
			<string>{{414,232},{20,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/persistent.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,444},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/pin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,444},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,29}</string>
			<key>textureRect</key>
			<string>{{68,444},{32,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,28}</string>
			<key>textureRect</key>
			<string>{{102,444},{32,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{30,29}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{136,444},{30,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{30,29}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{168,444},{30,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/save.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{200,444},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{52,53}</string>
			<key>spriteSourceSize</key>
			<string>{52,53}</string>
			<key>textureRect</key>
			<string>{{234,444},{52,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{34,34}</string>
			<key>textureRect</key>
			<string>{{289,444},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/source_generic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{31,30}</string>
			<key>spriteSourceSize</key>
			<string>{31,30}</string>
			<key>textureRect</key>
			<string>{{325,444},{31,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tab-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{358,444},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-api.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{68,475},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{113,475},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-joke.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{0,478},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{175,39}</string>
			<key>spriteSourceSize</key>
			<string>{175,39}</string>
			<key>textureRect</key>
			<string>{{158,498},{175,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{141,39}</string>
			<key>spriteSourceSize</key>
			<string>{141,39}</string>
			<key>textureRect</key>
			<string>{{0,519},{141,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{335,501},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{380,501},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{175,39}</string>
			<key>spriteSourceSize</key>
			<string>{175,39}</string>
			<key>textureRect</key>
			<string>{{143,539},{175,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{141,39}</string>
			<key>spriteSourceSize</key>
			<string>{141,39}</string>
			<key>textureRect</key>
			<string>{{0,560},{141,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{320,542},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{365,542},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{102,39}</string>
			<key>spriteSourceSize</key>
			<string>{102,39}</string>
			<key>textureRect</key>
			<string>{{143,580},{102,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{43,39}</string>
			<key>textureRect</key>
			<string>{{247,580},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{35,28}</string>
			<key>spriteSourceSize</key>
			<string>{35,28}</string>
			<key>textureRect</key>
			<string>{{292,583},{35,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,29}</string>
			<key>spriteSourceSize</key>
			<string>{29,29}</string>
			<key>textureRect</key>
			<string>{{329,583},{29,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-deprecated.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,29}</string>
			<key>spriteSourceSize</key>
			<string>{29,29}</string>
			<key>textureRect</key>
			<string>{{360,583},{29,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,29}</string>
			<key>spriteSourceSize</key>
			<string>{29,29}</string>
			<key>textureRect</key>
			<string>{{391,583},{29,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,29}</string>
			<key>spriteSourceSize</key>
			<string>{29,29}</string>
			<key>textureRect</key>
			<string>{{0,601},{29,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-multiple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{29,29}</string>
			<key>spriteSourceSize</key>
			<string>{29,29}</string>
			<key>textureRect</key>
			<string>{{31,601},{29,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/version.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{16,25}</string>
			<key>spriteSourceSize</key>
			<string>{16,25}</string>
			<key>textureRect</key>
			<string>{{62,601},{16,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet.png</string>
		<key>size</key>
		<string>{434,630}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet.png</string>
	</dict>
</dict>
</plist>