<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_bigStar_001.png</key>
            <dict>
                <key>frame</key>
                <string>{576,417},{92,94}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>GJ_closeBtn_001.png</key>
            <dict>
                <key>frame</key>
                <string>{680,560},{91,93}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>GJ_infoIcon_001.png</key>
            <dict>
                <key>frame</key>
                <string>{836,986},{47,46}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>GJ_levelComplete_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,282},{752,86}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{758,93}</string>
            </dict>
            <key>GJ_logo_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,1},{852,98}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{858,104}</string>
            </dict>
            <key>GJ_menuBtn_001.png</key>
            <dict>
                <key>frame</key>
                <string>{680,435},{120,123}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>GJ_newBest_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,417},{573,97}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{579,103}</string>
            </dict>
            <key>GJ_pauseBtn_clean_001.png</key>
            <dict>
                <key>frame</key>
                <string>{885,959},{48,48}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>GJ_playBtn2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{471,516},{154,157}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{157,163}</string>
            </dict>
            <key>GJ_playBtn_001.png</key>
            <dict>
                <key>frame</key>
                <string>{259,516},{210,209}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>GJ_progressBar_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,375},{680,40}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{680,40}</string>
            </dict>
            <key>GJ_replayBtn_001.png</key>
            <dict>
                <key>frame</key>
                <string>{852,106},{120,123}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>GJ_sfxIcon_001.png</key>
            <dict>
                <key>frame</key>
                <string>{924,1009},{29,28}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>GJ_table_bottom_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,193},{778,87}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{778,103}</string>
            </dict>
            <key>GJ_table_corner_001.png</key>
            <dict>
                <key>frame</key>
                <string>{832,951},{33,33}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>GJ_table_side_001.png</key>
            <dict>
                <key>frame</key>
                <string>{769,657},{47,128}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,128}</string>
            </dict>
            <key>GJ_table_top_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,101},{788,90}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{788,108}</string>
            </dict>
            <key>RobTopLogoBig_001.png</key>
            <dict>
                <key>frame</key>
                <string>{256,812},{293,104}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{296,111}</string>
            </dict>
            <key>chain_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{802,435},{39,139}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{39,139}</string>
            </dict>
            <key>d_ball_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{885,897},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>d_spikes_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{259,727},{256,83}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{256,83}</string>
            </dict>
            <key>d_spikes_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{517,727},{208,73}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{208,73}</string>
            </dict>
            <key>d_spikes_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{683,375},{146,58}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{146,58}</string>
            </dict>
            <key>d_spikes_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{893,341},{84,26}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>downloadApple_001.png</key>
            <dict>
                <key>frame</key>
                <string>{256,918},{279,90}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{284,95}</string>
            </dict>
            <key>downloadGoogle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{551,802},{279,90}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{284,95}</string>
            </dict>
            <key>downloadSteam_001.png</key>
            <dict>
                <key>frame</key>
                <string>{551,894},{279,90}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{284,95}</string>
            </dict>
            <key>floorLine_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,370},{884,3}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{888,3}</string>
            </dict>
            <key>getIt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{855,1},{127,103}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{132,108}</string>
            </dict>
            <key>gj_songIcon_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1019,710},{26,26}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>gj_ytIcon_001.png</key>
            <dict>
                <key>frame</key>
                <string>{900,787},{62,62}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>gradientBar.png</key>
            <dict>
                <key>frame</key>
                <string>{899,721},{63,64}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>groundSquareShadow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,774},{253,256}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>groundSquare_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1,516},{256,256}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pit_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{984,63},{61,53}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>pit_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{923,668},{61,48}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>pit_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{912,493},{61,49}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>pit_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{974,851},{61,36}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>plank_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{831,341},{60,27}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>plank_01_color_001.png</key>
            <dict>
                <key>frame</key>
                <string>{964,825},{58,24}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>plank_01_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{852,231},{79,46}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>player_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{984,1},{61,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>player_01_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{885,1009},{37,28}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>player_01_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{974,191},{65,64}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>portal_03_back_001.png</key>
            <dict>
                <key>frame</key>
                <string>{627,513},{51,155}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>portal_03_front_001.png</key>
            <dict>
                <key>frame</key>
                <string>{843,375},{67,171}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{89,171}</string>
            </dict>
            <key>portal_04_back_001.png</key>
            <dict>
                <key>frame</key>
                <string>{832,794},{51,155}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>portal_04_front_001.png</key>
            <dict>
                <key>frame</key>
                <string>{854,548},{67,171}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{89,171}</string>
            </dict>
            <key>portalshine_02_back_001.png</key>
            <dict>
                <key>frame</key>
                <string>{727,655},{40,144}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{86,144}</string>
            </dict>
            <key>portalshine_02_front_001.png</key>
            <dict>
                <key>frame</key>
                <string>{791,101},{59,166}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{72,166}</string>
            </dict>
            <key>rod_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{885,794},{13,84}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{13,84}</string>
            </dict>
            <key>rod_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{537,918},{12,53}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{12,53}</string>
            </dict>
            <key>rod_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{818,688},{11,25}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>rod_ball_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{947,897},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ship_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{759,986},{75,45}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>ship_01_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{599,986},{48,21}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ship_01_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{678,986},{79,49}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,49}</string>
            </dict>
            <key>slidergroove.png</key>
            <dict>
                <key>frame</key>
                <string>{256,1010},{420,24}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{420,32}</string>
            </dict>
            <key>sliderthumb.png</key>
            <dict>
                <key>frame</key>
                <string>{986,653},{55,55}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sliderthumbsel.png</key>
            <dict>
                <key>frame</key>
                <string>{985,596},{56,55}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>spike_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{912,279},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spike_01_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{755,282},{74,76}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>spike_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,567},{60,27}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>spike_02_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{900,851},{72,44}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>spike_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,1007},{40,38}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>spike_03_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{964,718},{53,54}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>spike_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1019,738},{25,24}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>spike_04_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{933,231},{38,40}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>square.png</key>
            <dict>
                <key>frame</key>
                <string>{867,951},{16,16}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>square_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{912,369},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_01_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{773,576},{79,79}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>square_01_small_001.png</key>
            <dict>
                <key>frame</key>
                <string>{1015,774},{30,30}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>square_01_small_color_001.png</key>
            <dict>
                <key>frame</key>
                <string>{818,657},{29,29}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>square_01_small_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{964,774},{49,49}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>square_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{912,431},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_02_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{537,986},{60,22}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>square_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{923,544},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_03_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{974,118},{71,71}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>square_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{923,606},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_04_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{843,548},{9,9}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,257},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_06_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,319},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_06_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{818,721},{79,71}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>square_07_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,381},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_07_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{831,279},{79,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>square_08_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,443},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square_08_glow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{773,576},{79,79}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>square_09_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,505},{60,60}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>toggleFullscreenOff_001.png</key>
            <dict>
                <key>frame</key>
                <string>{985,959},{46,46}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>toggleFullscreenOn_001.png</key>
            <dict>
                <key>frame</key>
                <string>{935,959},{48,48}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>tryMe_001.png</key>
            <dict>
                <key>frame</key>
                <string>{471,675},{224,50}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{227,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GJ_WebSheet.png</string>
            <key>size</key>
            <string>{1046,1046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b40684820a3ceef00e88c50145d31db:dae3fb832c4d5ef561838aa4967873c9:20b44f09621f99cc36f58c8d4637638f$</string>
            <key>textureFileName</key>
            <string>GJ_WebSheet.png</string>
        </dict>
    </dict>
</plist>
