<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_challengeBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{1,557},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_createBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{1,757},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_creatorBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{432,242},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_dailyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{232,119},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_eventBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{567,83},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_featuredBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{767,83},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_freeLevelsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{133,125}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{968,471},{133,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_fullBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{161,134}</string>
                <key>spriteSourceSize</key>
                <string>{161,140}</string>
                <key>textureRect</key>
                <string>{{432,80},{161,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJ_gauntletsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{567,283},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_highscoreBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{767,283},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_listsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{232,319},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{201,557},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapPacksBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{201,757},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_moreGamesBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{165,134}</string>
                <key>spriteSourceSize</key>
                <string>{165,140}</string>
                <key>textureRect</key>
                <string>{{1,957},{165,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_pathsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{401,556},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_playBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{211,209}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{1,347},{211,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_safeBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{87,96}</string>
                <key>spriteSourceSize</key>
                <string>{87,98}</string>
                <key>textureRect</key>
                <string>{{1031,982},{87,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GJ_savedBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{401,756},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_searchBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{601,522},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_versusBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{601,722},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_weeklyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{199,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{601,922},{199,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_01_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{910,1038},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_02_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,108}</string>
                <key>spriteSourceSize</key>
                <string>{61,108}</string>
                <key>textureRect</key>
                <string>{{325,1083},{61,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_03_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{801,1052},{96,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_04_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,108}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{332,957},{125,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_05_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,103}</string>
                <key>spriteSourceSize</key>
                <string>{128,103}</string>
                <key>textureRect</key>
                <string>{{937,742},{128,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gj_dailyCrown_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{164,111}</string>
                <key>spriteSourceSize</key>
                <string>{166,119}</string>
                <key>textureRect</key>
                <string>{{167,957},{164,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_eventCrown_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{161,118}</string>
                <key>spriteSourceSize</key>
                <string>{161,126}</string>
                <key>textureRect</key>
                <string>{{967,74},{161,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gj_weeklyCrown_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{164,111}</string>
                <key>spriteSourceSize</key>
                <string>{166,119}</string>
                <key>textureRect</key>
                <string>{{803,483},{164,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{1041,758},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{119,110}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{1031,871},{119,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{125,122}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{441,956},{125,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{127,128}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{941,597},{127,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{131,130}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{432,377},{131,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{801,734},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{967,332},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{141,138}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{967,193},{141,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{141,144}</string>
                <key>textureRect</key>
                <string>{{801,595},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_01_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{33,144}</string>
                <key>spriteSourceSize</key>
                <string>{75,144}</string>
                <key>textureRect</key>
                <string>{{567,956},{33,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_01_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,144}</string>
                <key>spriteSourceSize</key>
                <string>{31,144}</string>
                <key>textureRect</key>
                <string>{{1069,597},{31,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_02_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{40,144}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{1109,193},{40,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_02_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{60,166}</string>
                <key>spriteSourceSize</key>
                <string>{72,166}</string>
                <key>textureRect</key>
                <string>{{886,871},{60,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{83,144}</string>
                <key>spriteSourceSize</key>
                <string>{99,144}</string>
                <key>textureRect</key>
                <string>{{947,871},{83,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_03_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{72,178}</string>
                <key>spriteSourceSize</key>
                <string>{88,178}</string>
                <key>textureRect</key>
                <string>{{971,1},{72,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{47,149}</string>
                <key>spriteSourceSize</key>
                <string>{89,151}</string>
                <key>textureRect</key>
                <string>{{1101,608},{47,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_04_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{40,174}</string>
                <key>spriteSourceSize</key>
                <string>{50,174}</string>
                <key>textureRect</key>
                <string>{{1,1092},{40,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_05_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{48,136}</string>
                <key>spriteSourceSize</key>
                <string>{66,140}</string>
                <key>textureRect</key>
                <string>{{1102,471},{48,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_05_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,148}</string>
                <key>spriteSourceSize</key>
                <string>{66,148}</string>
                <key>textureRect</key>
                <string>{{176,1069},{66,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_06_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{40,144}</string>
                <key>spriteSourceSize</key>
                <string>{86,144}</string>
                <key>textureRect</key>
                <string>{{975,1070},{40,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_06_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{33,175}</string>
                <key>spriteSourceSize</key>
                <string>{43,175}</string>
                <key>textureRect</key>
                <string>{{424,522},{33,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{426,38}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{1,80},{426,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{396,42}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{574,1},{396,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,1}</string>
                <key>spriteSize</key>
                <string>{300,38}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{574,44},{300,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,2}</string>
                <key>spriteSize</key>
                <string>{238,38}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{564,483},{238,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,1}</string>
                <key>spriteSize</key>
                <string>{210,36}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{213,519},{210,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143,2}</string>
                <key>spriteSize</key>
                <string>{142,34}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{975,1111},{142,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,2}</string>
                <key>spriteSize</key>
                <string>{118,34}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{1107,338},{118,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-196,4}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{875,44},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theTowerDoor_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,227}</string>
                <key>spriteSourceSize</key>
                <string>{232,229}</string>
                <key>textureRect</key>
                <string>{{1,119},{230,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theTowerLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{184,88}</string>
                <key>textureRect</key>
                <string>{{801,871},{180,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weeklyLevelsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{572,78}</string>
                <key>spriteSourceSize</key>
                <string>{576,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{572,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_GameSheet04-hd.png</string>
            <key>size</key>
            <string>{1151,1151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be73024137eed10366f4683138bd0490:c4fc98ccb23f613b2f9cde72989d3cd1:33b2fcce3ca4ec9ea925d11e504ae182$</string>
            <key>textureFileName</key>
            <string>GJ_GameSheet04-hd.png</string>
        </dict>
    </dict>
</plist>
