<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest03_small_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{122,102}</string>
                <key>spriteSourceSize</key>
                <string>{122,104}</string>
                <key>textureRect</key>
                <string>{{2288,170},{122,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,321}</string>
                <key>spriteSourceSize</key>
                <string>{397,321}</string>
                <key>textureRect</key>
                <string>{{661,1781},{397,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,309}</string>
                <key>spriteSourceSize</key>
                <string>{385,309}</string>
                <key>textureRect</key>
                <string>{{2521,611},{385,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{385,316}</string>
                <key>spriteSourceSize</key>
                <string>{385,322}</string>
                <key>textureRect</key>
                <string>{{2521,294},{385,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{303,28}</string>
                <key>spriteSourceSize</key>
                <string>{303,56}</string>
                <key>textureRect</key>
                <string>{{1,2859},{303,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,58}</string>
                <key>spriteSize</key>
                <string>{652,134}</string>
                <key>spriteSourceSize</key>
                <string>{654,250}</string>
                <key>textureRect</key>
                <string>{{1635,170},{652,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-71}</string>
                <key>spriteSize</key>
                <string>{385,164}</string>
                <key>spriteSourceSize</key>
                <string>{385,306}</string>
                <key>textureRect</key>
                <string>{{1428,1900},{385,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,66}</string>
                <key>spriteSize</key>
                <string>{324,196}</string>
                <key>spriteSourceSize</key>
                <string>{324,328}</string>
                <key>textureRect</key>
                <string>{{1084,2468},{324,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,66}</string>
                <key>spriteSize</key>
                <string>{295,150}</string>
                <key>spriteSourceSize</key>
                <string>{295,282}</string>
                <key>textureRect</key>
                <string>{{2274,2502},{295,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,402}</string>
                <key>spriteSourceSize</key>
                <string>{498,402}</string>
                <key>textureRect</key>
                <string>{{176,892},{498,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{482,386}</string>
                <key>spriteSourceSize</key>
                <string>{482,388}</string>
                <key>textureRect</key>
                <string>{{490,2135},{482,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{2126,305},{482,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{1593,2226},{378,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{816,168}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{818,232},{816,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1641,1115},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{450,2618},{404,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{1059,1900},{368,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{482,386}</string>
                <key>spriteSourceSize</key>
                <string>{482,388}</string>
                <key>textureRect</key>
                <string>{{2124,788},{482,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{675,884},{482,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{1972,2250},{378,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{816,168}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{818,232},{816,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{675,1279},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{1593,1736},{404,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{1059,1900},{368,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{482,386}</string>
                <key>spriteSourceSize</key>
                <string>{482,388}</string>
                <key>textureRect</key>
                <string>{{2511,921},{482,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{1154,401},{482,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{1895,2502},{378,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{816,168}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1635,1},{816,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1158,1279},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{1998,1760},{404,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{2403,2124},{368,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{488,386}</string>
                <key>spriteSourceSize</key>
                <string>{488,388}</string>
                <key>textureRect</key>
                <string>{{2124,1271},{488,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_05_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{1158,884},{482,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{1895,2565},{378,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{816,168}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1,1282},{816,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_05_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1641,1322},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{1593,1981},{404,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{1885,2313},{368,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{488,420}</string>
                <key>spriteSourceSize</key>
                <string>{488,454}</string>
                <key>textureRect</key>
                <string>{{1,2135},{488,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{490,414}</string>
                <key>spriteSourceSize</key>
                <string>{494,442}</string>
                <key>textureRect</key>
                <string>{{170,1720},{490,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{378,106}</string>
                <key>spriteSourceSize</key>
                <string>{378,110}</string>
                <key>textureRect</key>
                <string>{{2772,1893},{378,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_06_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,42}</string>
                <key>spriteSize</key>
                <string>{816,230}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1,1},{816,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1110,1486},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,77}</string>
                <key>spriteSize</key>
                <string>{448,292}</string>
                <key>spriteSourceSize</key>
                <string>{448,446}</string>
                <key>textureRect</key>
                <string>{{2452,1},{448,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,54}</string>
                <key>spriteSize</key>
                <string>{368,230}</string>
                <key>spriteSourceSize</key>
                <string>{368,338}</string>
                <key>textureRect</key>
                <string>{{2403,1893},{368,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{488,420}</string>
                <key>spriteSourceSize</key>
                <string>{488,454}</string>
                <key>textureRect</key>
                <string>{{665,463},{488,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{490,414}</string>
                <key>spriteSourceSize</key>
                <string>{494,442}</string>
                <key>textureRect</key>
                <string>{{1635,305},{490,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{378,106}</string>
                <key>spriteSourceSize</key>
                <string>{378,110}</string>
                <key>textureRect</key>
                <string>{{1409,2286},{378,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,42}</string>
                <key>spriteSize</key>
                <string>{816,230}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1,232},{816,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{877,2103},{482,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,76}</string>
                <key>spriteSize</key>
                <string>{448,294}</string>
                <key>spriteSourceSize</key>
                <string>{448,446}</string>
                <key>textureRect</key>
                <string>{{661,1486},{448,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{368,220}</string>
                <key>spriteSourceSize</key>
                <string>{368,318}</string>
                <key>textureRect</key>
                <string>{{1228,2665},{368,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{488,428}</string>
                <key>spriteSourceSize</key>
                <string>{488,472}</string>
                <key>textureRect</key>
                <string>{{176,463},{488,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{490,424}</string>
                <key>spriteSourceSize</key>
                <string>{494,462}</string>
                <key>textureRect</key>
                <string>{{170,1295},{490,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{378,106}</string>
                <key>spriteSourceSize</key>
                <string>{378,110}</string>
                <key>textureRect</key>
                <string>{{1516,2516},{378,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,42}</string>
                <key>spriteSize</key>
                <string>{816,230}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{818,1},{816,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1593,1529},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,72}</string>
                <key>spriteSize</key>
                <string>{448,302}</string>
                <key>spriteSourceSize</key>
                <string>{448,446}</string>
                <key>textureRect</key>
                <string>{{1,2556},{448,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,52}</string>
                <key>spriteSize</key>
                <string>{368,226}</string>
                <key>spriteSourceSize</key>
                <string>{368,330}</string>
                <key>textureRect</key>
                <string>{{1516,2289},{368,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{488,386}</string>
                <key>spriteSourceSize</key>
                <string>{488,388}</string>
                <key>textureRect</key>
                <string>{{2511,1404},{488,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_09_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{482,394}</string>
                <key>spriteSourceSize</key>
                <string>{482,402}</string>
                <key>textureRect</key>
                <string>{{1641,720},{482,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{378,62}</string>
                <key>spriteSourceSize</key>
                <string>{378,98}</string>
                <key>textureRect</key>
                <string>{{1802,2815},{378,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,70}</string>
                <key>spriteSize</key>
                <string>{818,174}</string>
                <key>spriteSourceSize</key>
                <string>{818,314}</string>
                <key>textureRect</key>
                <string>{{1,463},{818,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_09_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-88}</string>
                <key>spriteSize</key>
                <string>{482,206}</string>
                <key>spriteSourceSize</key>
                <string>{482,382}</string>
                <key>textureRect</key>
                <string>{{1110,1693},{482,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{404,244}</string>
                <key>spriteSourceSize</key>
                <string>{404,410}</string>
                <key>textureRect</key>
                <string>{{1998,2005},{404,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{368,188}</string>
                <key>spriteSourceSize</key>
                <string>{368,352}</string>
                <key>textureRect</key>
                <string>{{2254,2313},{368,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_glow_bg_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-265,-35}</string>
                <key>spriteSize</key>
                <string>{204,94}</string>
                <key>spriteSourceSize</key>
                <string>{734,164}</string>
                <key>textureRect</key>
                <string>{{1597,2812},{204,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,72}</string>
                <key>spriteSourceSize</key>
                <string>{478,72}</string>
                <key>textureRect</key>
                <string>{{1549,401},{478,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getOrbsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{222,150}</string>
                <key>spriteSourceSize</key>
                <string>{222,164}</string>
                <key>textureRect</key>
                <string>{{2623,2313},{222,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gj_videoRewardBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{378,290}</string>
                <key>spriteSourceSize</key>
                <string>{380,290}</string>
                <key>textureRect</key>
                <string>{{1084,2089},{378,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plushies_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{372,208}</string>
                <key>spriteSourceSize</key>
                <string>{392,218}</string>
                <key>textureRect</key>
                <string>{{855,2665},{372,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-99}</string>
                <key>spriteSize</key>
                <string>{188,266}</string>
                <key>spriteSourceSize</key>
                <string>{196,464}</string>
                <key>textureRect</key>
                <string>{{1597,2623},{188,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{2181,2822},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-99}</string>
                <key>spriteSize</key>
                <string>{170,266}</string>
                <key>spriteSourceSize</key>
                <string>{180,464}</string>
                <key>textureRect</key>
                <string>{{2570,2536},{170,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope3_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{2236,2822},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-99}</string>
                <key>spriteSize</key>
                <string>{168,266}</string>
                <key>spriteSourceSize</key>
                <string>{176,464}</string>
                <key>textureRect</key>
                <string>{{2181,2653},{168,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope4_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{2291,2822},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope5_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-99}</string>
                <key>spriteSize</key>
                <string>{186,266}</string>
                <key>spriteSourceSize</key>
                <string>{204,464}</string>
                <key>textureRect</key>
                <string>{{1864,2628},{186,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope5_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{2346,2822},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet-uhd.png</string>
            <key>size</key>
            <string>{2907,2907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2200cc73cbfad9c24414b5f6121c55e:8380485f8c5893462cc3b9e0f682ab29:6b4b2686c87e2a64c351d919627ac8a1$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
