<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gauntletLock_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,35}</string>
                <key>textureRect</key>
                <string>{{479,1},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_bonus_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{455,402},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_chaos_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{395,467},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_cosmos_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{269,35},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_crystal_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{455,466},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_death_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{334,73},{59,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_demon_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{340,277},{59,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_doom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{406,342},{59,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{469,133},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_ice_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,57}</string>
                <key>spriteSourceSize</key>
                <string>{60,57}</string>
                <key>textureRect</key>
                <string>{{469,195},{60,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_lava_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,67}</string>
                <key>spriteSourceSize</key>
                <string>{60,67}</string>
                <key>textureRect</key>
                <string>{{207,261},{60,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_magic_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{269,110},{59,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_monster_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{131,457},{59,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_ncs01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{65,90}</string>
                <key>textureRect</key>
                <string>{{404,1},{65,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_ncs02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{65,90}</string>
                <key>textureRect</key>
                <string>{{405,67},{65,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{139,189},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{204,114},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{406,274},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{139,117},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{405,205},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{198,456},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{67,92}</string>
                <key>spriteSourceSize</key>
                <string>{69,116}</string>
                <key>textureRect</key>
                <string>{{1,35},{67,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{69,123},{64,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{404,133},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{1,292},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{1,368},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{275,316},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{261,386},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new14_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{133,322},{64,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{66,404},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new16_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{1,444},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{204,35},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{265,454},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{133,257},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new20_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,85}</string>
                <key>textureRect</key>
                <string>{{139,35},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new21_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{1,211},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{131,387},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new23_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{1,128},{64,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new24_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,81}</string>
                <key>textureRect</key>
                <string>{{334,1},{69,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new25_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{207,188},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new26_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,76}</string>
                <key>textureRect</key>
                <string>{{196,387},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{272,170},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new28_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,115}</string>
                <key>textureRect</key>
                <string>{{69,35},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{330,465},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{330,397},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new31_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{66,256},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,83}</string>
                <key>textureRect</key>
                <string>{{337,133},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new33_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{67,72}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{66,188},{67,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new34_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{275,243},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new35_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,83}</string>
                <key>textureRect</key>
                <string>{{340,205},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_poison_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{395,402},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{471,253},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_space_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{66,329},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_spike_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,72}</string>
                <key>textureRect</key>
                <string>{{204,322},{59,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_time_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,69}</string>
                <key>textureRect</key>
                <string>{{340,337},{59,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theLostGauntletsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{314,33}</string>
                <key>spriteSourceSize</key>
                <string>{316,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{314,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GauntletSheet.png</string>
            <key>size</key>
            <string>{530,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dacafdaee04c63b9a8d2b93daa29b8bf:0cdf6f63ca801b669f2ddfb5bdd5d22b:e43528e55c10f2683a103180db48aec4$</string>
            <key>textureFileName</key>
            <string>GauntletSheet.png</string>
        </dict>
    </dict>
</plist>
