<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest03_small_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{1149,87},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,161}</string>
                <key>spriteSourceSize</key>
                <string>{199,161}</string>
                <key>textureRect</key>
                <string>{{659,205},{199,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,155}</string>
                <key>spriteSourceSize</key>
                <string>{193,155}</string>
                <key>textureRect</key>
                <string>{{710,1065},{193,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{193,159}</string>
                <key>spriteSourceSize</key>
                <string>{193,161}</string>
                <key>textureRect</key>
                <string>{{652,905},{193,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{152,14}</string>
                <key>spriteSourceSize</key>
                <string>{152,28}</string>
                <key>textureRect</key>
                <string>{{1434,374},{152,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{327,69}</string>
                <key>spriteSourceSize</key>
                <string>{327,125}</string>
                <key>textureRect</key>
                <string>{{821,87},{327,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{193,83}</string>
                <key>spriteSourceSize</key>
                <string>{193,153}</string>
                <key>textureRect</key>
                <string>{{1,1368},{193,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_01_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{162,164}</string>
                <key>textureRect</key>
                <string>{{846,892},{162,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_01_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{148,77}</string>
                <key>spriteSourceSize</key>
                <string>{148,141}</string>
                <key>textureRect</key>
                <string>{{943,892},{148,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,201}</string>
                <key>spriteSourceSize</key>
                <string>{249,201}</string>
                <key>textureRect</key>
                <string>{{494,413},{249,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,194}</string>
                <key>spriteSourceSize</key>
                <string>{241,194}</string>
                <key>textureRect</key>
                <string>{{215,630},{241,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{821,157},{241,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{213,1356},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{411,119},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{410,861},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_02_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{710,1259},{202,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_02_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1240,802},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,194}</string>
                <key>spriteSourceSize</key>
                <string>{241,194}</string>
                <key>textureRect</key>
                <string>{{215,872},{241,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{1063,157},{241,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{385,1415},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{411,119},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{410,965},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{834,1259},{202,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_03_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1240,802},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,194}</string>
                <key>spriteSourceSize</key>
                <string>{241,194}</string>
                <key>textureRect</key>
                <string>{{411,1069},{241,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{1086,355},{241,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{1136,1361},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{821,1},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{606,1069},{241,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{1251,599},{202,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_04_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1021,999},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,194}</string>
                <key>spriteSourceSize</key>
                <string>{244,194}</string>
                <key>textureRect</key>
                <string>{{696,405},{244,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_05_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{410,663},{241,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{1136,1393},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{409,85}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,327},{409,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{411,1311},{241,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{866,1055},{202,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_05_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1206,1005},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{244,211}</string>
                <key>spriteSourceSize</key>
                <string>{244,227}</string>
                <key>textureRect</key>
                <string>{{1,878},{244,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_06_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{247,207}</string>
                <key>spriteSourceSize</key>
                <string>{247,221}</string>
                <key>textureRect</key>
                <string>{{411,205},{247,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,53}</string>
                <key>spriteSourceSize</key>
                <string>{189,55}</string>
                <key>textureRect</key>
                <string>{{195,1388},{189,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{652,663},{241,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_06_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{224,147}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{1231,1},{224,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_06_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{184,115}</string>
                <key>spriteSourceSize</key>
                <string>{184,169}</string>
                <key>textureRect</key>
                <string>{{1021,883},{184,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{244,211}</string>
                <key>spriteSourceSize</key>
                <string>{244,227}</string>
                <key>textureRect</key>
                <string>{{1,1123},{244,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{247,207}</string>
                <key>spriteSourceSize</key>
                <string>{247,221}</string>
                <key>textureRect</key>
                <string>{{246,413},{247,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,53}</string>
                <key>spriteSourceSize</key>
                <string>{189,55}</string>
                <key>textureRect</key>
                <string>{{1082,1208},{189,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,119},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_07_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{756,650},{241,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,37}</string>
                <key>spriteSize</key>
                <string>{224,149}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{1284,374},{224,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_07_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{184,111}</string>
                <key>spriteSourceSize</key>
                <string>{184,159}</string>
                <key>textureRect</key>
                <string>{{1175,1100},{184,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{244,216}</string>
                <key>spriteSourceSize</key>
                <string>{244,236}</string>
                <key>textureRect</key>
                <string>{{1,413},{244,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{247,213}</string>
                <key>spriteSourceSize</key>
                <string>{247,231}</string>
                <key>textureRect</key>
                <string>{{1,630},{247,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_08_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,53}</string>
                <key>spriteSourceSize</key>
                <string>{189,55}</string>
                <key>textureRect</key>
                <string>{{1136,1307},{189,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{409,117}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{411,1},{409,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_08_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{860,650},{241,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_08_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{224,153}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{1305,149},{224,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_08_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{184,113}</string>
                <key>spriteSourceSize</key>
                <string>{184,165}</string>
                <key>textureRect</key>
                <string>{{990,1094},{184,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,194}</string>
                <key>spriteSourceSize</key>
                <string>{244,194}</string>
                <key>textureRect</key>
                <string>{{891,355},{244,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_09_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,201}</string>
                <key>textureRect</key>
                <string>{{213,1114},{241,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_09_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,49}</string>
                <key>textureRect</key>
                <string>{{1082,1425},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_03_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{409,89}</string>
                <key>spriteSourceSize</key>
                <string>{409,157}</string>
                <key>textureRect</key>
                <string>{{1,237},{409,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_09_04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{241,103}</string>
                <key>spriteSourceSize</key>
                <string>{241,191}</string>
                <key>textureRect</key>
                <string>{{964,600},{241,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_09_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{202,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,205}</string>
                <key>textureRect</key>
                <string>{{958,1258},{202,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_09_04_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,41}</string>
                <key>spriteSize</key>
                <string>{184,94}</string>
                <key>spriteSourceSize</key>
                <string>{184,176}</string>
                <key>textureRect</key>
                <string>{{1136,1212},{184,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_glow_bg_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,-17}</string>
                <key>spriteSize</key>
                <string>{103,48}</string>
                <key>spriteSourceSize</key>
                <string>{367,82}</string>
                <key>textureRect</key>
                <string>{{653,1311},{103,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chest_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,36}</string>
                <key>spriteSourceSize</key>
                <string>{239,36}</string>
                <key>textureRect</key>
                <string>{{1068,600},{239,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getOrbsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{111,76}</string>
                <key>spriteSourceSize</key>
                <string>{111,82}</string>
                <key>textureRect</key>
                <string>{{1360,1100},{111,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gj_videoRewardBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,145}</string>
                <key>spriteSourceSize</key>
                <string>{190,145}</string>
                <key>textureRect</key>
                <string>{{1105,597},{190,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plushies_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{188,107}</string>
                <key>spriteSourceSize</key>
                <string>{196,109}</string>
                <key>textureRect</key>
                <string>{{1206,897},{188,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{94,134}</string>
                <key>spriteSourceSize</key>
                <string>{98,232}</string>
                <key>textureRect</key>
                <string>{{1105,788},{94,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope2_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{821,355},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{86,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,232}</string>
                <key>textureRect</key>
                <string>{{1375,599},{86,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope3_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{891,600},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRope4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-49}</string>
                <key>spriteSize</key>
                <string>{84,134}</string>
                <key>spriteSourceSize</key>
                <string>{88,232}</string>
                <key>textureRect</key>
                <string>{{1326,1307},{84,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope4_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{575,1415},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope5_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-49}</string>
                <key>spriteSize</key>
                <string>{94,134}</string>
                <key>spriteSourceSize</key>
                <string>{102,232}</string>
                <key>textureRect</key>
                <string>{{1321,1212},{94,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopRope5_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{1375,734},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_ShopSheet-hd.png</string>
            <key>size</key>
            <string>{1462,1462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2200cc73cbfad9c24414b5f6121c55e:8380485f8c5893462cc3b9e0f682ab29:6b4b2686c87e2a64c351d919627ac8a1$</string>
            <key>textureFileName</key>
            <string>GJ_ShopSheet-hd.png</string>
        </dict>
    </dict>
</plist>
