<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{127,77}</string>
			<key>spriteSourceSize</key>
			<string>{127,77}</string>
			<key>textureRect</key>
			<string>{{0,0},{127,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{77,77}</string>
			<key>spriteSourceSize</key>
			<string>{77,77}</string>
			<key>textureRect</key>
			<string>{{129,0},{77,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,51}</string>
			<key>spriteSourceSize</key>
			<string>{40,51}</string>
			<key>textureRect</key>
			<string>{{208,0},{40,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/close.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{261,0},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{59,42}</string>
			<key>spriteSourceSize</key>
			<string>{59,42}</string>
			<key>textureRect</key>
			<string>{{313,0},{59,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{59,42}</string>
			<key>spriteSourceSize</key>
			<string>{59,42}</string>
			<key>textureRect</key>
			<string>{{374,0},{59,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{59,42}</string>
			<key>spriteSourceSize</key>
			<string>{59,42}</string>
			<key>textureRect</key>
			<string>{{435,0},{59,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{59,42}</string>
			<key>spriteSourceSize</key>
			<string>{59,42}</string>
			<key>textureRect</key>
			<string>{{496,0},{59,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/delete-white.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{36,50}</string>
			<key>spriteSourceSize</key>
			<string>{36,50}</string>
			<key>textureRect</key>
			<string>{{557,0},{36,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-4.5}</string>
			<key>spriteSize</key>
			<string>{89,122}</string>
			<key>spriteSourceSize</key>
			<string>{89,131}</string>
			<key>textureRect</key>
			<string>{{609,0},{89,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/download-mods-here.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{250,72}</string>
			<key>spriteSourceSize</key>
			<string>{250,72}</string>
			<key>textureRect</key>
			<string>{{313,44},{250,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{85,97}</string>
			<key>spriteSourceSize</key>
			<string>{85,97}</string>
			<key>textureRect</key>
			<string>{{733,0},{85,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/exclamation-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{28,57}</string>
			<key>spriteSourceSize</key>
			<string>{28,57}</string>
			<key>textureRect</key>
			<string>{{208,52},{28,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{19,60}</string>
			<key>spriteSourceSize</key>
			<string>{19,60}</string>
			<key>textureRect</key>
			<string>{{565,38},{19,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/external-link.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,79},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file-add.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{95,121}</string>
			<key>spriteSourceSize</key>
			<string>{95,121}</string>
			<key>textureRect</key>
			<string>{{66,79},{95,121}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/file.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{47,59}</string>
			<key>spriteSourceSize</key>
			<string>{47,59}</string>
			<key>textureRect</key>
			<string>{{189,82},{47,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{4,60}</string>
			<key>spriteSourceSize</key>
			<string>{4,60}</string>
			<key>textureRect</key>
			<string>{{820,0},{4,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{687,32}</string>
			<key>spriteSourceSize</key>
			<string>{687,32}</string>
			<key>textureRect</key>
			<string>{{0,176},{687,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{63,63}</string>
			<key>textureRect</key>
			<string>{{689,99},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{63,63}</string>
			<key>textureRect</key>
			<string>{{754,99},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/globe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{90,90}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{689,164},{90,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/grid-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{0,210},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/homepage.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{63,63}</string>
			<key>textureRect</key>
			<string>{{48,210},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{89,89}</string>
			<key>spriteSourceSize</key>
			<string>{89,89}</string>
			<key>textureRect</key>
			<string>{{113,210},{89,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{47,47}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{204,210},{47,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{57,55}</string>
			<key>spriteSourceSize</key>
			<string>{57,57}</string>
			<key>textureRect</key>
			<string>{{253,210},{57,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{44,47}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{781,164},{44,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{64,46}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{312,210},{64,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/message.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{60,56}</string>
			<key>spriteSourceSize</key>
			<string>{60,56}</string>
			<key>textureRect</key>
			<string>{{378,210},{60,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{778,70}</string>
			<key>spriteSourceSize</key>
			<string>{778,70}</string>
			<key>textureRect</key>
			<string>{{0,301},{778,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{778,70}</string>
			<key>spriteSourceSize</key>
			<string>{778,70}</string>
			<key>textureRect</key>
			<string>{{0,373},{778,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{33,128}</string>
			<key>spriteSourceSize</key>
			<string>{33,128}</string>
			<key>textureRect</key>
			<string>{{781,213},{33,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{33,128}</string>
			<key>spriteSourceSize</key>
			<string>{33,128}</string>
			<key>textureRect</key>
			<string>{{780,343},{33,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{825,120}</string>
			<key>spriteSourceSize</key>
			<string>{825,120}</string>
			<key>textureRect</key>
			<string>{{0,473},{825,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{825,120}</string>
			<key>spriteSourceSize</key>
			<string>{825,120}</string>
			<key>textureRect</key>
			<string>{{0,595},{825,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/news.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{41,47}</string>
			<key>spriteSourceSize</key>
			<string>{41,47}</string>
			<key>textureRect</key>
			<string>{{0,717},{41,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/persistent.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{64,54}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{49,717},{64,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/pin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{115,717},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,57}</string>
			<key>spriteSourceSize</key>
			<string>{64,57}</string>
			<key>textureRect</key>
			<string>{{181,717},{64,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{60,57}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{247,717},{60,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{60,57}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{309,717},{60,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/save.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{59,59}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{371,717},{59,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{104,106}</string>
			<key>spriteSourceSize</key>
			<string>{104,106}</string>
			<key>textureRect</key>
			<string>{{432,717},{104,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{540,717},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tab-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{606,717},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-api.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{718,717},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{0,773},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-joke.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{181,776},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{351,78}</string>
			<key>spriteSourceSize</key>
			<string>{351,78}</string>
			<key>textureRect</key>
			<string>{{371,829},{351,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{282,78}</string>
			<key>spriteSourceSize</key>
			<string>{282,78}</string>
			<key>textureRect</key>
			<string>{{0,856},{282,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{284,776},{86,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/tag-modtober24.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{724,797},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{351,78}</string>
			<key>spriteSourceSize</key>
			<string>{351,78}</string>
			<key>textureRect</key>
			<string>{{364,909},{351,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{283,78}</string>
			<key>spriteSourceSize</key>
			<string>{283,78}</string>
			<key>textureRect</key>
			<string>{{0,936},{283,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{724,877},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{717,957},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{204,78}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{285,989},{204,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{491,989},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{71,57}</string>
			<key>spriteSourceSize</key>
			<string>{71,57}</string>
			<key>textureRect</key>
			<string>{{579,989},{71,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{652,989},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-deprecated.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{0,1016},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{60,1016},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{120,1016},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-multiple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{180,1016},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/version.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{32,50}</string>
			<key>spriteSourceSize</key>
			<string>{32,50}</string>
			<key>textureRect</key>
			<string>{{240,1016},{32,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
		<key>size</key>
		<string>{825,1074}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
	</dict>
</dict>
</plist>