<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{255,155}</string>
			<key>spriteSourceSize</key>
			<string>{255,155}</string>
			<key>textureRect</key>
			<string>{{0,0},{255,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{155,155}</string>
			<key>spriteSourceSize</key>
			<string>{155,155}</string>
			<key>textureRect</key>
			<string>{{257,0},{155,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{81,103}</string>
			<key>spriteSourceSize</key>
			<string>{81,103}</string>
			<key>textureRect</key>
			<string>{{414,0},{81,103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/close.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{519,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{621,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{739,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RB_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{857,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RT_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{116,83}</string>
			<key>spriteSourceSize</key>
			<string>{118,84}</string>
			<key>textureRect</key>
			<string>{{975,0},{116,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/delete-white.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{71,100}</string>
			<key>spriteSourceSize</key>
			<string>{72,100}</string>
			<key>textureRect</key>
			<string>{{1093,0},{71,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-11.5}</string>
			<key>spriteSize</key>
			<string>{176,239}</string>
			<key>spriteSourceSize</key>
			<string>{178,262}</string>
			<key>textureRect</key>
			<string>{{1195,0},{176,239}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/download-mods-here.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-0}</string>
			<key>spriteSize</key>
			<string>{500,145}</string>
			<key>spriteSourceSize</key>
			<string>{501,145}</string>
			<key>textureRect</key>
			<string>{{621,85},{500,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{170,195}</string>
			<key>spriteSourceSize</key>
			<string>{170,195}</string>
			<key>textureRect</key>
			<string>{{1436,0},{170,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{56,114}</string>
			<key>spriteSourceSize</key>
			<string>{56,114}</string>
			<key>textureRect</key>
			<string>{{414,102},{56,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/exclamation.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{39,120}</string>
			<key>spriteSourceSize</key>
			<string>{39,120}</string>
			<key>textureRect</key>
			<string>{{1123,73},{39,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/external-link.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,157},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file-add.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{190,241}</string>
			<key>spriteSourceSize</key>
			<string>{191,242}</string>
			<key>textureRect</key>
			<string>{{130,157},{190,241}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/file.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{94,118}</string>
			<key>spriteSourceSize</key>
			<string>{94,118}</string>
			<key>textureRect</key>
			<string>{{373,160},{94,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/geode-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{8,120}</string>
			<key>spriteSourceSize</key>
			<string>{8,120}</string>
			<key>textureRect</key>
			<string>{{1633,0},{8,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1374,64}</string>
			<key>spriteSourceSize</key>
			<string>{1374,64}</string>
			<key>textureRect</key>
			<string>{{0,349},{1374,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{121,121}</string>
			<key>spriteSourceSize</key>
			<string>{126,126}</string>
			<key>textureRect</key>
			<string>{{1436,172},{121,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{121,121}</string>
			<key>spriteSourceSize</key>
			<string>{126,126}</string>
			<key>textureRect</key>
			<string>{{1376,295},{121,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/globe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-0}</string>
			<key>spriteSize</key>
			<string>{180,181}</string>
			<key>spriteSourceSize</key>
			<string>{181,181}</string>
			<key>textureRect</key>
			<string>{{0,415},{180,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/grid-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,92}</string>
			<key>textureRect</key>
			<string>{{1499,295},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/homepage.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{121,119}</string>
			<key>spriteSourceSize</key>
			<string>{126,126}</string>
			<key>textureRect</key>
			<string>{{1499,389},{121,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{175,177}</string>
			<key>spriteSourceSize</key>
			<string>{179,179}</string>
			<key>textureRect</key>
			<string>{{183,415},{175,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{92,92}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{362,415},{92,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{114,99}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{456,415},{114,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{79,91}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{572,415},{79,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/keybinds.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{120,82}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{665,415},{120,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/message.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{120,112}</string>
			<key>spriteSourceSize</key>
			<string>{120,112}</string>
			<key>textureRect</key>
			<string>{{787,415},{120,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1556,140}</string>
			<key>spriteSourceSize</key>
			<string>{1556,140}</string>
			<key>textureRect</key>
			<string>{{0,597},{1556,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1556,140}</string>
			<key>spriteSourceSize</key>
			<string>{1556,140}</string>
			<key>textureRect</key>
			<string>{{0,739},{1556,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,256}</string>
			<key>spriteSourceSize</key>
			<string>{66,256}</string>
			<key>textureRect</key>
			<string>{{1558,510},{66,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{66,256}</string>
			<key>spriteSourceSize</key>
			<string>{66,256}</string>
			<key>textureRect</key>
			<string>{{0,881},{66,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/mods-list-top-gd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1650,240}</string>
			<key>spriteSourceSize</key>
			<string>{1650,240}</string>
			<key>textureRect</key>
			<string>{{0,949},{1650,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1650,240}</string>
			<key>spriteSourceSize</key>
			<string>{1650,240}</string>
			<key>textureRect</key>
			<string>{{0,1191},{1650,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/news.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{82,94}</string>
			<key>spriteSourceSize</key>
			<string>{82,94}</string>
			<key>textureRect</key>
			<string>{{0,1433},{82,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/persistent.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{124,98}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{96,1433},{124,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/pin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{222,1433},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{129,115}</string>
			<key>spriteSourceSize</key>
			<string>{129,115}</string>
			<key>textureRect</key>
			<string>{{352,1433},{129,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,5}</string>
			<key>spriteSize</key>
			<string>{110,106}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{483,1433},{110,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,5}</string>
			<key>spriteSize</key>
			<string>{110,106}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{595,1433},{110,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/save.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{707,1433},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{209,212}</string>
			<key>spriteSourceSize</key>
			<string>{209,212}</string>
			<key>textureRect</key>
			<string>{{817,1433},{209,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{126,126}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1031,1433},{126,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tab-bg.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{220,220}</string>
			<key>spriteSourceSize</key>
			<string>{220,220}</string>
			<key>textureRect</key>
			<string>{{1159,1433},{220,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-api.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{173,157}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1381,1433},{173,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{0,1533},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-joke.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{483,1541},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{701,156}</string>
			<key>spriteSourceSize</key>
			<string>{702,157}</string>
			<key>textureRect</key>
			<string>{{657,1655},{701,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{565,156}</string>
			<key>spriteSourceSize</key>
			<string>{565,157}</string>
			<key>textureRect</key>
			<string>{{0,1699},{565,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1381,1592},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1360,1750},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{701,156}</string>
			<key>spriteSourceSize</key>
			<string>{702,157}</string>
			<key>textureRect</key>
			<string>{{567,1813},{701,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{565,156}</string>
			<key>spriteSourceSize</key>
			<string>{566,157}</string>
			<key>textureRect</key>
			<string>{{0,1857},{565,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1270,1908},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{1444,1908},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid-long.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{408,156}</string>
			<key>spriteSourceSize</key>
			<string>{408,157}</string>
			<key>textureRect</key>
			<string>{{567,1971},{408,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{172,156}</string>
			<key>spriteSourceSize</key>
			<string>{173,157}</string>
			<key>textureRect</key>
			<string>{{977,1971},{172,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{143,115}</string>
			<key>spriteSourceSize</key>
			<string>{143,115}</string>
			<key>textureRect</key>
			<string>{{1151,1971},{143,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{0,2015},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-deprecated.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{112,2015},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{224,2015},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{338,2015},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-multiple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{452,2015},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/version.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{65,100}</string>
			<key>spriteSourceSize</key>
			<string>{65,100}</string>
			<key>textureRect</key>
			<string>{{1268,2066},{65,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet-uhd.png</string>
		<key>size</key>
		<string>{1650,2131}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet-uhd.png</string>
	</dict>
</dict>
</plist>